.projects{
    padding:100px 20px 50px;
    min-height: 100vh;
    gap: 30px;
}
.projects-list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    width: 100%;
}
.project-card{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 20px;
    width: 100%;
    flex-direction: column;
    padding: 40px 20px;
    border: 1px solid var(--border);
    transition: transform .3s ease-in-out;

    position: relative;
    border-radius: 10px;
    background-color: var(--secondary);
}
.project-card h3{
    font-size: var(--h3-size);
    color: var(--heading);
    font-family: var(--heading-font);
    margin: 10px 0;
}
.project-card p{
    color: var(--text);
    text-align: justify;
    max-width: 80%;
    margin: 10px 0;
}
.project-tech{
    display: flex;
    gap: 10px;
}
.project-tech span{
    padding:3px 5px;
    border: 1px solid var(--border);
    background-color: var(--primary);
    border-radius:8px;

}
.project-actions{
    display: flex;
    /* position: absolute; */
    right: 0px;
    bottom: 0px;
    gap:20px;
}
.project-actions a:hover span{
    transform: translate(3px,-3px);
    transition: transform .3s ease-in-out;
}
.projects-footer{
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 20px;
    border-bottom: 1px solid var(--border);
}
.projects-footer span{
    width: fit-content;
}
.project-preview{
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    margin: 10px 0;
}
.project-preview img{
    width: 100%;
    height: 100%;
    transition: transform .3s ease-in-out;

    object-fit: cover;
}
.project-card:hover{
    transform: translateY(-5px);
    box-shadow: inset 0 0 10px var(--accent), 0 0 10px var(--accent);
    transition: transform .3s ease-in-out;
}
.project-preview:hover  img{
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
}